/* - - - - - HEADER - - - - - */
header{
    position: fixed;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    height: 10vh;
    background-color: var(--primary);
    z-index: 9;
}
header #headerlogo {
    min-width: 8vh;
    height: 8vh;
    margin: 0 5vw;
}
header #headerlogo img {
    height: 8vh;
}
header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 20vw;
    height: 8vh;
    margin: 0 5vw;
    font-weight: 600;
    font-size: 3vh;
}



/* - - - - - MAIN - - - - - */
main {
    height: 100vh;
}



/* - - - - - FOOTER - - - - - */
footer {
    width: 100vw;
    height: 20vh;
    border-top: var(--primary) 1vh solid;
    background-color: var(--background-dark);
}
footer p { 
    width: 100%;
    margin-top: 5vh;
    color: var(--text2);
    text-align: center;
    letter-spacing: 1px;
    font-weight: 300;
}