/* RESPONSIVE WEB */
/* MOBILE */
@media only screen and (max-width: 479px){
  /* Base */
  

  /* HEADER */
  #logo_div{width: 48px;}
  #text_logo{display: none;}


  /* ////////////////////////////// */


  /*Conteudo*/

  main #conteudo{
    width: 100vw;
  }
  
  
  #conteudo #oque_e #cruz{
    top: 57px;
    width: 35%;
  }
  #conteudo #oque_e h3{
    width: 100%;
  }
  #conteudo #oque_e #p1{
    width: 50%
  }
  #conteudo #oque_e #p2{
    width: 100%
  }


  /* ////////////////////////////// */


  /* ASIDE */
  aside{display: none;}
}


/* MOBILE Landscape */ 
@media only screen and (min-width: 480px) and (max-width: 767px){
}
