/* RESPONSIVE WEB */

/* MOBILE */
@media only screen and (max-width: 479px){
  
  /* Base */
  .mobile_only{
    display: block;
  }
  .pc_only{
    display: none;
  }
  
  
  /* HEADER */
  header a #logo_div{width: 48px;}

  header button{
    display: flex;
    background: none;
    width: 45px;
    height: 45px;
    border: solid 2px var(--primary_d1);
    border-radius: 10px;
    margin-right: 10px;
  }
  

  /* ////////////////////////////// */


  /*Conteudo*/

  main #conteudo{
    width: 100vw;
  }
  main #conteudo section h3{
  font-family: "Courier New", Courier, monospace;
  text-align: center;
  font-size: 1.4em;
  letter-spacing: 4px;
  }
  main #conteudo section p{
    text-align: justify;
    font-size: 0.8em;
    color: #fff;
    margin-bottom: 12,8px;
  }
  
  
  /* Oque é A Sombra Sã*/
  #conteudo #oque_e #cruz{
    position: relative;
    top: 0;
    right: 0;
    width: 35%;
    order: 3;
  }
  #conteudo #oque_e h3{
    width: 100%;
    order: 1;
  }
  #conteudo #oque_e #p1{
    width: 55%;
    order: 2;
  }
  #conteudo #oque_e #p2,
  #conteudo #oque_e #p3{
    width: 100%;
    order: 4;
  }


  /* ////////////////////////////// */


  /* ASIDE */

  aside{
  top: 0;
  right: -100vw;
  width: 100vw;
  }
}


/* MOBILE Landscape */ 
@media only screen and (min-width: 480px) and (max-width: 767px){
}
