*,
*::before,
*::after{
  margin: 0;
}

/* Color Vars */
:root{
  --primary: rgb(224, 194, 110); /* #E0C26E */
  --primary_d1: rgb(147, 133, 94); /* #93855E */
  --primary_d2: rgb(83, 76, 40); /* #534C28 */
  --secondary: rgb(140, 41, 36); /* #8C2924 */
  --secondary_d1: rgb(96, 36, 33); /* #602421 */
  --bg: rgb(23, 22, 20); /* #171614 */
  --bg_d1: rgb(16, 15, 13); /* #100f0d */
}

/* Text Configs */
strong{
  color: var(--secondary);
}


/* ////////////////////////////// */



/* CSS */

body{
  width: 100vw;
  margin: 0px;
  background-color: var(--bg);
  overflow-x: hidden;
}


/* HEADER */
header{
  position: fixed;
  top: 0px;
  left: 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  height: 60px;
  background-color: var(--primary);
  z-index: 5;
}

header a{
  margin-left: 10px;
}
#logo_div{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 232px;
  height: 45px;
}
.logo{
  height: 100%;
}

/* NAV */
nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 40%;
  height: 45px;
  margin-right: 10px;
}


/* ////////////////////////////// */


/* Main */
main{
  display: flex;
  width: 100vw;
  margin-top: 60px;
  overflow-x: hidden;
}


/* Conteúdo */
main #conteudo{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 70vw;
  margin-top: 60px;
}
main #conteudo section{
  position: relative;
  display: flex;
  flex-wrap: wrap;
  width: 80%;
  border-bottom: solid 2px var(--primary);
  margin-bottom: 50px;
  background-color: var(--bg_d1);
  border-radius: 10px 10px 0 0;
  padding: 3%;
}
main #conteudo section h3{
  font-family: "Courier New", Courier, monospace;
  text-align: center;
  font-size: 2em;
  letter-spacing: 7px;
  color: #fff;
  margin-bottom: 25px;
}
main #conteudo section p{
  text-align: justify;
  font-size: 1em;
  color: #fff;
  margin-bottom: 16px;
}


/*O que é A Sombra Sã*/
#conteudo #oque_e #cruz{
  position: absolute;
  top: 3%;
  right: 3%;
  width: 20%;
}
#conteudo #oque_e h3,
#conteudo #oque_e p{
  width: 70%;
}
#conteudo #oque_e #p3{
  justify-self: flex-end;
}


/* ////////////////////////////// */


/* ASIDE */

aside{
  position: fixed;
  top: 60px;
  right: 0px;
  width: 30vw;
  height: 100vh;
  background-color: var(--primary_d1);
}
