body{
  background:rgb(23, 22, 20);
}

header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  background-color:rgb(224, 194, 110);
}

#logo_div{
  position: relative;
  left: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 30%;
  height: 100%;
  outline: solid 2px blue;
}
#logo{
  height: 85%;;
}
#ass{
  width: 90%;
  max-height: 100%;
}

nav{
  position: relative;
  right: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 40%;
  height: 100%;
  outline: solid 2px blue;
}