body{
  background:rgb(23, 22, 20);
}


header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  background-color:rgb(224, 194, 110);
}

#logo_div{
  position: relative;
  left: 10px;
  display: flex;
  align-items: center;
  width: 350px;
  height: 70px;
  outline: solid 3px blue;
}
#logo{
  height: 100%;
}
#text_logo{
  height: 100%;
}

nav{
  position: relative;
  right: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 40%;
  height: 70px;
}


/* MOBILE */
@media only screen and (max-width: 479px){
  #logo_div{width: 74.5px;}
  #logo_text{display: none;}
}


/* MOBILE Landscape */ 
@media only screen and (min-width: 480px) and (max-width: 767px){
}


/* TABLET */
@media only screen and (min-width: 768px) and (max-width: 833px){
}


/* TABLET Landscape */ 
@media only screen and (min-width: 834px) and (max-width: 1024px){
}